
.accordion details {
    border-top: 0.0625rem solid var(--gray3);
    padding: 1.875rem 0;
}

.accordion details:last-child {
    border-bottom: 0.0625rem solid var(--gray3);
}

.accordion details p {
    font-size: var(--body-font-size-s);
    line-height: 1.25rem;
    margin: 0 .5rem;
}

.accordion details summary {
    position: relative;
    padding: 0 1rem;
    padding-right: 2.875rem;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    font-family: var(--averta);
    color: var(--blue1);
    font-weight: 600;
    font-size: 1.625rem;
    letter-spacing: .01em;
    line-height: 2.125rem;
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::after {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.75rem;
    color: green;
}

.accordion details[open] summary::after {
    content: var(--icon-minus);
}

.accordion details .accordion-item-body {
    padding: 1rem 1rem 0;

}

.legal.accordion-container {
    margin: 0;
    border-top:2px solid #ececec

}

.legal.accordion-container .accordion-item {
    position:relative;
}

.legal.accordion-container .accordion {
    padding-left:calc(50% - 520px + 2rem)
}

.legal.accordion-container .accordion .accordion-item-label {
    font-weight:500;
    color:black;
    font-size: 20px;
    max-width: 40pc;
    position:absolute;
    top: -40px;
    background-color: white;
    padding: 1rem 1.5rem 1.5rem;
    border:2px solid #ececec

}